<div>
  <blockquote><%= @question %></blockquote>
  <p class="person">- <%= @person1 %></p>
</div>

<div style="margin-bottom: 40px;">
  <blockquote><%= @answer %></blockquote>
 <p class="person">- <%= @person2 %></p>
</div>

<a href="/ask" class="btn btn-primary">Ask again</a>



