<form class="form-inline" action="/answer" method="get">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="question" placeholder="what time is it?" class="form-control" style="margin: 0 10px;">
  <input type="submit" value="Go on!" class="btn btn-primary">
</form>
